---
Checks: >
  -*,
  cppcoreguidelines-*,
  modernize-*,
  readability-*,
  bugprone-*,
  performance-*,
  portability-*,
  -portability-avoid-pragma-once,
  misc-*
WarningsAsErrors: ''
HeaderFilterRegex: '^(include|test)/'
---
